.hero {
  margin-bottom: 150px;

  .swiper-slider {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }

  .swiper-slide {
    @include flex-v-center;
    justify-content: space-between;
    position: relative;

    &.swiper-slide-active {
      background-color: #ffffff;
    }

    &__inner {

      max-width: 644px;
      width: 100%;

      &:first-child {
        transform: translateX(15%);
      }

      h2 {
        @include H;
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 24px;
        max-width: 370px;
        width: 100%;
        font-size: 14px;
        line-height: 1.7;
      }

      img {
        width: 100%;
      }
    }

    &__btn {
      margin-bottom: 24px;
    }
  }

  
}

