.purpose {
  margin-bottom: 142px;

  &__list {
    column-count: 3;
    column-gap: 90px;
  }

  p {
    text-align: center;
    margin-bottom: 32px;
  }

  h2 {
    text-align: center;
    font: $font-btn;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: relative;
    max-width: 250px;
    width: 100%;
    margin: auto;
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-golden);
    padding: 8px 0;
    transition: all 0.35s ease-in-out;
    z-index: 1;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      bottom: 0;
      background-color: var(--color-btn-hover);
      transition: all 0.35s ease-in-out;
      color: #fff;
      z-index: -1;
    }

    &:hover {
      border-color: var(--color-black);

      &::after {
        width: 100%;
      }
    }

    &:active {
      background-color: var(--color-btn-hover);
    }

  }

  &__item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    cursor: pointer;


    &:hover {
      .purpose__link-text {
        background-position: 0 100%;
        font-weight: 700;
      }
    }

    &--text {
      margin-bottom: 84px;
      max-width: 303px;
      width: 100%;
      margin-left: 60px;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
  }

  &__link-text {
    writing-mode: tb-rl;
    @include hover-bl;
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    @include H3;
    transition: background-position 0.3s ease-in,
      font-weight 0.53s ease-in-out;
  }

  img {
    margin-left: auto;
    max-width: 300px;
    width: 100%;
  }
}