.footer {
  background-color: var(--color-black);
  padding: 48px 0 30px;

  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__wrap {
    @include flex-s-sb;
    margin-bottom: 6px;
  }

  &__inner {
    color: #fff;

    &:first-child {
      max-width: 350px;
      width: 100%;
    }

    &:nth-child(2) {
      max-width: 210px;
      width: 100%;
      transform: translateX(-10px);
    }

    &:nth-child(3) {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 30px;
    }

    p {
      margin-bottom: 12px;
      font-size: 16px;
    }
  }


  &__link {
    font-size: 13px;
    line-height: 1.7;
    @include hover-wh;


    &:hover {
      @include hover-full;

      svg {
        fill: var(--color-golden);
      }
    }
  }

  &__icon {
    height: 14px;
    width: 16px;
    fill: #fff;
    transition: fill 0.3s ease-in-out;
  }

  &__socials {
    @include flex-s;

    .footer__link {
      &:first-child {
        margin-right: 22px;
      }
    }
  }

  &__terms {
    @include flex-s;
    color: #fff;

    .footer__link {
      &:first-child {
        margin-right: 43px;
      }
    }
  }

  &__choose {
    font-size: 16px;
    display: flex;
    justify-content: space-between;

    &--language {
      margin-bottom: 30px;
    }

    &--currency .footer__choose-item {
      padding-left: 23px;
    }
  }

  &__choose-name {
    margin-right: 40px;
  }

  &__choose-item {
    padding: 14px 10px 14px 5px;
    max-width: 75px;
    width: 100%;
    text-align: left;
    position: relative;
    border-top: 2px solid var(--color-golden);
    border-bottom: 2px solid var(--color-golden);
    cursor: pointer;
    transition: color 0.5s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      mask-image: url('../img/sprite.svg#arrow-footer');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 12px;
      width: 12px;
      transition: background-color 0.5s ease-in-out;
    }

    &:hover {
      color: var(--color-golden);

      &::after {
        background-color: var(--color-golden);
      }
    }
  }
}