@import "./_mixins.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;z-index: 10;
  background-color: #fff;

  &__nav {
    @include flex-all-sb;
    padding: 35px 0;
    position: relative;
  }

  &__menu {
    @include flex-all-sb;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__action {
    @include flex-all-sb;
  }

  &__action-item {

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link {
    position: relative;
    @include hover-bl;
    font-size: 12px;

    &:hover {
      @include hover-full;
    }
  }

  &__action-icon {
    width: 24px;
    height: 24px;

    &--search {
      position: absolute;
      left: -34px;
      top: 3px;
    }

    &--close {
      cursor: pointer;
      position: absolute;
      right: 0;
      width: 17px;
      height: 16px;
      opacity: 0;
      visibility: hidden;
    }
  }

  .haeder-adv {
    background-color: var(--color-black);
    font: $font-medium;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
  }
}

.search {
  position: relative;

  &__field {
    border: none;
    border-bottom: 2px solid var(--color-golden);
    outline: transparent;
    padding: 0 4px 4px 0;
    max-width: 105px;
    width: 100%;
    transition: max-width 1s ease-in;


    &::placeholder {
      color: #9d9d9d;
      font-size: 10px;
      line-height: 1.1;
    }
  }
}

.open {
}