@font-face {
  font-family: "Adieu";
  src: url("../fonts/Adieu-Light.woff2") format("woff2"), url("../fonts/Adieu-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Adieu";
  src: url("../fonts/Adieu-Bold.woff2") format("woff2"), url("../fonts/Adieu-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "CervoNeue";
  src: url("../fonts/CervoNeue-Regular.woff2") format("woff2"), url("../fonts/CervoNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "CervoNeue";
  src: url("../fonts/CervoNeue-Medium.woff2") format("woff2"), url("../fonts/CervoNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

:root {
  --color-white: #fffff;
  --color-golden: #bf9366;
  --color-black: #000000;
  --color-btn-hover: #c09d79;
  --color-disabled: #e2e2e2;
  --color-silver: #9d9d9d;
  --color-red: #bb0d0d; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

html,
body {
  height: 100%; }

body {
  font: normal 300 14px/1.7 "Adieu", sans-serif;
  background-color: var(--color-white);
  color: var(--color-white);
  display: flex;
  flex-direction: column; }

.container {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 1284px; }

.main {
  flex-grow: 1; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.logo {
  max-width: 163px;
  z-index: 5; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: transparent; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn-shop {
  color: #fff;
  font: normal 400 20px/1.2 "CervoNeue", sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--color-black);
  padding: 13px 70px;
  display: inline-block;
  position: relative;
  transition: all 0.35s ease-in-out;
  z-index: 1; }
  .btn-shop::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;
    background-color: var(--color-btn-hover);
    transition: all 0.35s ease-in-out;
    color: #fff;
    z-index: -1; }
  .btn-shop:hover:after {
    width: 100%; }
  .btn-shop:active {
    background-color: var(--color-btn-hover); }
  .btn-shop button:disabled,
  .btn-shop button[disabled] {
    background-color: var(--color-disabled); }

.disabled {
  background-color: var(--color-disabled); }

.title-main {
  font-weight: 700;
  font-size: 68px;
  line-height: 1.2;
  text-transform: capitalize;
  font-feature-settings: 'cpsp'on;
  text-align: center;
  margin-bottom: 40px; }

.main {
  margin-top: 136px; }
  .main__baner {
    margin-bottom: 150px; }
    .main__baner img {
      -o-object-fit: contain;
      object-fit: contain;
      width: 100%;
      height: 604px; }

.swiper-nav .swiper-btns {
  position: relative;
  max-width: 124px;
  width: 100%;
  height: 50px;
  left: 0; }

.swiper-nav .swiper-btn {
  border: 2px solid var(--color-black);
  padding: 2px 10px;
  transition: border-color 0.3s ease-in-out;
  height: 50px;
  width: 50px; }
  .swiper-nav .swiper-btn svg {
    height: 50px;
    transition: fill 0.3s ease-in-out; }
  .swiper-nav .swiper-btn.swiper-button-next {
    right: 0; }
  .swiper-nav .swiper-btn.swiper-button-prev {
    left: 0; }
    .swiper-nav .swiper-btn.swiper-button-prev svg {
      transform: rotate(180deg); }
  .swiper-nav .swiper-btn:hover {
    border-color: var(--color-btn-hover); }
    .swiper-nav .swiper-btn:hover svg {
      fill: var(--color-btn-hover); }

.swiper-nav .swiper-button-prev:after,
.swiper-nav .swiper-container-rtl .swiper-button-next:after,
.swiper-nav .swiper-button-next:after,
.swiper-nav .swiper-container-rtl .swiper-button-prev:after {
  display: none; }

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: visibility 0.3s linear, opacity 0.3s linear; }
  .popup::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); }
  .popup__box {
    max-width: 490px;
    width: 100%;
    height: 410px;
    border: 1px solid var(--color-golden);
    z-index: 13;
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    background-color: #fff;
    margin: 0 auto; }
  .popup .subscribe {
    max-width: 350px;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    margin: 0 auto; }
    .popup .subscribe p {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2; }
    .popup .subscribe__btn {
      background-image: url("../img/sprite.svg#arrow"); }
    .popup .subscribe__close {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: #fff;
      width: 40px;
      height: 40px;
      padding: 12px;
      cursor: pointer; }
  .popup--active {
    visibility: visible;
    opacity: 1; }

/*# sourceMappingURL=global.css.map */
