:root {
  --color-white: #fffff;
  --color-golden: #bf9366;
  --color-black: #000000;
  --color-btn-hover: #c09d79;
  --color-disabled: #e2e2e2;
  --color-silver: #9d9d9d;
  --color-red: #bb0d0d;
  --color-filter:#dadada; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.custom-checkbox__field[disabled] + .custom-checkbox__content::before {
  border-color: var(--color-disabled);
  color: var(--color-disabled); }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.custom-checkbox__field[disabled] + .custom-checkbox__content::before {
  border-color: var(--color-disabled);
  color: var(--color-disabled); }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  visibility: visible; }
  .header .logo {
    margin-right: 50px; }
  .header .search {
    margin-left: auto;
    margin-top: -4px;
    max-width: 140px;
    width: 100%;
    -webkit-animation: close 400ms ease-in-out;
    animation: close 400ms ease-in-out;
    transform: translateX(0); }

@-webkit-keyframes close {
  0% {
    max-width: 410px;
    width: 100%; }
  100% {
    max-width: 140px;
    width: 100%; } }

@keyframes close {
  0% {
    max-width: 410px;
    width: 100%; }
  100% {
    max-width: 140px;
    width: 100%; } }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    max-width: 583px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    -webkit-animation: menu-open 400ms ease-in-out;
    animation: menu-open 400ms ease-in-out; }

@-webkit-keyframes menu-open {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0; }
  100% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; } }

@keyframes menu-open {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0; }
  100% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; } }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    position: relative;
    transition: all 0.5s ease-in-out; }
    .header__nav--active .search {
      max-width: 385px;
      width: 100%;
      margin-right: auto;
      -webkit-animation: open 700ms ease-in-out;
      animation: open 700ms ease-in-out;
      transform: translateX(-68px); }

@-webkit-keyframes open {
  0% {
    max-width: 140px;
    width: 100%; }
  100% {
    max-width: 410px;
    width: 100%;
    margin-right: auto; } }

@keyframes open {
  0% {
    max-width: 140px;
    width: 100%; }
  100% {
    max-width: 410px;
    width: 100%;
    margin-right: auto; } }
      .header__nav--active .search__field {
        max-width: 100%; }
      .header__nav--active .search__icon {
        opacity: 1;
        visibility: visible;
        right: -20px; }
    .header__nav--active .header__menu {
      transform: translateY(-100%);
      visibility: hidden;
      opacity: 0;
      -webkit-animation: menu-close 400ms ease-in-out;
      animation: menu-close 400ms ease-in-out; }

@-webkit-keyframes menu-close {
  0% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0; } }

@keyframes menu-close {
  0% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0; } }
  .header__item:not(:last-child) {
    margin-right: 32px; }
  .header__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 245px; }
  .header__action-item:not(:last-child) {
    margin-right: 16px; }
  .header__link {
    position: relative;
    color: var(--color-black);
    overflow: hidden;
    background: linear-gradient(to right, var(--color-golden), var(--color-golden) 50%, var(--color-black) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s ease;
    text-decoration: none;
    font-size: 12px; }
    .header__link:hover {
      background-position: 0 100%; }
  .header__action-icon {
    width: 24px;
    height: 24px; }
  .header .haeder-adv {
    background-color: var(--color-black);
    font: normal 400 14px/1.1 "CervoNeue", sans-serif;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0; }

.hero {
  margin-bottom: 150px; }
  .hero .swiper-slider {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px; }
  .hero .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .hero .swiper-slide.swiper-slide-active {
      background-color: #ffffff; }
    .hero .swiper-slide__inner {
      max-width: 644px;
      width: 100%; }
      .hero .swiper-slide__inner:first-child {
        transform: translateX(15%); }
      .hero .swiper-slide__inner h2 {
        font-weight: 700;
        font-size: 68px;
        line-height: 1.2;
        text-transform: capitalize;
        font-feature-settings: 'cpsp'on;
        margin-bottom: 24px; }
      .hero .swiper-slide__inner p {
        margin-bottom: 24px;
        max-width: 370px;
        width: 100%;
        font-size: 14px;
        line-height: 1.7; }
      .hero .swiper-slide__inner img {
        width: 100%; }
    .hero .swiper-slide__btn {
      margin-bottom: 24px; }

.slider-article {
  position: relative; }
  .slider-article img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%; }
  .slider-article__content {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 322px;
    width: 100%;
    padding: 12px 108px 12px 30px;
    z-index: 2; }
    .slider-article__content::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      z-index: -1; }
  .slider-article h3 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7; }
  .slider-article span {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: block;
    margin-bottom: 16px; }
  .slider-article a {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font: normal 400 20px/1.2 "CervoNeue", sans-serif; }
    .slider-article a .icon {
      margin-left: 20px;
      width: 28px;
      height: 16px; }

.purpose {
  margin-bottom: 142px; }
  .purpose__list {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 90px;
    column-gap: 90px; }
  .purpose p {
    text-align: center;
    margin-bottom: 32px; }
  .purpose h2 {
    text-align: center;
    font: normal 400 20px/1.2 "CervoNeue", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: relative;
    max-width: 250px;
    width: 100%;
    margin: auto;
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-golden);
    padding: 8px 0;
    transition: all 0.35s ease-in-out;
    z-index: 1; }
    .purpose h2::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      bottom: 0;
      background-color: var(--color-btn-hover);
      transition: all 0.35s ease-in-out;
      color: #fff;
      z-index: -1; }
    .purpose h2:hover {
      border-color: var(--color-black); }
      .purpose h2:hover::after {
        width: 100%; }
    .purpose h2:active {
      background-color: var(--color-btn-hover); }
  .purpose__item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    cursor: pointer; }
    .purpose__item:hover .purpose__link-text {
      background-position: 0 100%;
      font-weight: 700; }
    .purpose__item--text {
      margin-bottom: 84px;
      max-width: 303px;
      width: 100%;
      margin-left: 60px; }
  .purpose__link {
    width: 100%;
    height: 100%; }
  .purpose__link-text {
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    color: var(--color-black);
    overflow: hidden;
    background: linear-gradient(to right, var(--color-golden), var(--color-golden) 50%, var(--color-black) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s ease;
    text-decoration: none;
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    font-feature-settings: 'cpsp'on;
    transition: background-position 0.3s ease-in, font-weight 0.53s ease-in-out; }
  .purpose img {
    margin-left: auto;
    max-width: 300px;
    width: 100%; }

.designers {
  margin-bottom: 150px; }
  .designers__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .designers__tab {
    display: grid;
    grid-template-columns: 424px 332px;
    grid-gap: 26px 30px;
    max-width: 768px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    top: 0;
    height: 0; }
    .designers__tab.active {
      visibility: visible;
      opacity: 1;
      height: 100%; }
  .designers .product-article:first-child {
    grid-row: 1 / 3; }
  .designers .product-article img {
    margin-bottom: 17px; }
  .designers .product-article p {
    margin-bottom: 7px; }
  .designers .product-article span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2; }

.additional {
  margin-bottom: 135px; }
  .additional__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px; }
  .additional__list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .additional__item {
    position: relative;
    max-width: 290px;
    width: 100%;
    margin-bottom: 24px;
    overflow-x: hidden; }
    .additional__item::before {
      position: absolute;
      content: '';
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      top: 0;
      left: 0;
      background-image: url("../img/sprite.svg#shirt"); }
    .additional__item--track::before {
      background-image: url("../img/sprite.svg#track"); }
    .additional__item--shirt .additional__item-inner {
      padding-left: 84px; }
    .additional__item--shirt::before {
      background-image: url("../img/sprite.svg#shirt"); }
    .additional__item--like::before {
      background-image: url("../img/sprite.svg#like"); }
  .additional__item-inner {
    padding-left: 76px;
    border-bottom: 2px solid var(--color-golden);
    margin-bottom: 24px; }
  .additional__text {
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 24px; }
  .additional__link {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font: normal 400 20px/1.2 "CervoNeue", sans-serif;
    color: var(--color-black);
    overflow: hidden;
    background: linear-gradient(to right, var(--color-golden), var(--color-golden) 50%, var(--color-black) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s ease;
    text-decoration: none;
    transition: transform 0.7s ease, padding-left 0.5s ease-in-out;
    position: relative; }
    .additional__link::after, .additional__link::before {
      content: '';
      position: absolute;
      background-color: #000;
      -webkit-mask-image: url("../img/sprite.svg#arrow");
      mask-image: url("../img/sprite.svg#arrow");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateX(-4px);
      width: 25px;
      height: 15px;
      left: 50%;
      transition: transform 0.7s ease, padding-left 0.5s ease-in-out; }
    .additional__link::before {
      background-color: var(--color-golden);
      -webkit-mask-image: url("../img/sprite.svg#arrow");
      mask-image: url("../img/sprite.svg#arrow");
      left: 0;
      transform: translateX(-100%); }
    .additional__link:hover {
      background-position: 0 100%;
      padding-left: 50px; }
      .additional__link:hover::after {
        transform: translateX(1000%); }
      .additional__link:hover::before {
        transform: translateX(0); }
    .additional__link:active {
      background-position: 0 100%;
      padding-left: 50px; }

.designers-aside {
  transform: translate(-35px, -30px); }
  .designers-aside h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    text-transform: capitalize;
    font-feature-settings: 'cpsp'on;
    margin-bottom: 24px; }
  .designers-aside__item {
    position: relative;
    cursor: pointer;
    color: var(--color-black);
    overflow: hidden;
    background: linear-gradient(to right, var(--color-golden), var(--color-golden) 50%, var(--color-black) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s ease;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out; }
    .designers-aside__item:not(:last-child) {
      margin-bottom: 25px; }
    .designers-aside__item:last-child {
      background-position: 0 100%;
      display: inline-block;
      text-decoration: underline; }
    .designers-aside__item:hover {
      background-position: 0 100%; }
    .designers-aside__item::before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: var(--color-golden);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: width 0.3s ease-in-out; }
    .designers-aside__item--active {
      background-position: 0 100%;
      padding-left: 48px; }
      .designers-aside__item--active::before {
        width: 40px; }
  .designers-aside__link {
    text-transform: uppercase;
    font: normal 400 14px/1.1 "CervoNeue", sans-serif; }
    .designers-aside__link::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: var(--color-golden);
      left: 0;
      height: 2px; }

.blog {
  margin-bottom: 170px; }
  .blog__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .blog__inner:first-child {
    max-width: 385px;
    width: 100%; }
  .blog__inner:last-child {
    display: flex; }
  .blog__inner h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    font-feature-settings: 'cpsp'on;
    margin-bottom: 25px; }
  .blog__inner p {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7; }

.blog-article {
  max-width: 300px;
  width: 100%;
  position: relative; }
  .blog-article:first-child {
    margin-right: 30px; }
  .blog-article img {
    margin-bottom: 24px; }
  .blog-article span {
    color: var(--color-golden);
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 8px; }
  .blog-article h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2; }
  .blog-article__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer; }

.dropdown-item:hover .dropdown-choose {
  visibility: visible;
  opacity: 1;
  z-index: 2; }

.dropdown-choose {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transform: translateY(-100%);
  background-color: #fff;
  color: var(--color-black);
  right: 0;
  top: 0;
  left: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05); }
  .dropdown-choose__item {
    padding: 12px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
    .dropdown-choose__item:hover {
      background-color: var(--color-golden);
      color: #fff; }

.filters {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px; }
  .filters__btn {
    padding: 13px 50px; }
  .filters__selectors {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 254px;
    width: 100%; }
    .filters__selectors .choices {
      position: relative;
      margin-bottom: 0; }
      .filters__selectors .choices:hover .choices__inner {
        border-color: var(--color-golden);
        color: var(--color-golden); }
      .filters__selectors .choices:hover[data-type*=select-one]:after {
        background-color: var(--color-golden); }
      .filters__selectors .choices.is-open .choices__inner {
        border-color: var(--color-golden);
        color: var(--color-golden); }
      .filters__selectors .choices.is-open[data-type*=select-one]:after {
        background-color: var(--color-golden); }
      .filters__selectors .choices__inner {
        border: none;
        background-color: transparent;
        border-top: 2px solid var(--color-black);
        border-bottom: 2px solid var(--color-black);
        cursor: pointer;
        border-radius: 0;
        transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out; }
      .filters__selectors .choices:first-child {
        margin-right: 24px;
        height: 50px;
        max-width: 77px;
        width: 100%;
        text-align: center; }
      .filters__selectors .choices:last-child {
        max-width: 153px;
        width: 100%; }
    .filters__selectors .choices[data-type*=select-one]:after {
      border: none;
      content: '';
      position: absolute;
      right: 7px;
      top: 25px;
      background-color: var(--color-black);
      -webkit-mask-image: url("../img/sprite.svg#arrow-footer");
      mask-image: url("../img/sprite.svg#arrow-footer");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 8px;
      width: 14px;
      transition: background-color 0.5s ease-in-out, transform 0.4s ease-in; }
    .filters__selectors .choices__list--dropdown {
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
      border: none; }
      .filters__selectors .choices__list--dropdown .choices__item--selectable {
        padding: 12px 0;
        text-align: center; }
    .filters__selectors .choices__list--dropdown .choices__item--selectable.is-highlighted {
      background-color: var(--color-golden);
      color: #fff; }
    .filters__selectors .choices[data-type*=select-one].is-open:after {
      margin-top: -2px;
      transform: rotate(180deg); }

.accordion__name {
  padding-bottom: 24px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  display: block;
  cursor: pointer;
  transition: padding-bottom 0.3s ease-in; }
  .accordion__name::before {
    content: '';
    position: absolute;
    right: 7px;
    top: 5px;
    transform: translateY(-50%) rotate(0);
    background-color: var(--color-black);
    -webkit-mask-image: url("../img/sprite.svg#arrow-footer");
    mask-image: url("../img/sprite.svg#arrow-footer");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 8px;
    width: 14px;
    transition: background-color 0.5s ease-in-out, transform 0.4s ease-in; }
  .accordion__name::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    width: 100%;
    background-color: var(--color-filter); }

.accordion__item {
  margin-bottom: 40px;
  transition: all 0.5s ease-in;
  position: relative; }

.accordion__filter {
  overflow: hidden;
  opacity: 0;
  will-change: max-height;
  max-height: 0;
  transition: all 0.3s ease-in;
  box-sizing: content-box; }
  .accordion__filter .custom-checkbox {
    position: relative;
    text-transform: uppercase; }
    .accordion__filter .custom-checkbox__field {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute; }
    .accordion__filter .custom-checkbox__content {
      padding-left: 25px;
      cursor: pointer; }
      .accordion__filter .custom-checkbox__content::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #000;
        width: 15px;
        height: 15px;
        box-sizing: border-box; }
      .accordion__filter .custom-checkbox__content::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.73675 0.41916L4.00009 2.68249L6.26342 0.41916C6.49092 0.19166 6.85842 0.19166 7.08592 0.41916C7.31342 0.64666 7.31342 1.01416 7.08592 1.24166L4.40842 3.91916C4.18092 4.14666 3.81342 4.14666 3.58592 3.91916L0.908418 1.24166C0.680918 1.01416 0.680918 0.64666 0.908418 0.41916C1.13592 0.197493 1.50925 0.19166 1.73675 0.41916Z' fill='black'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: 8px 5px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out; }
    .accordion__filter .custom-checkbox__content {
      padding-left: 32px; }
      .accordion__filter .custom-checkbox__content::before {
        border-color: var(--color-silver); }
      .accordion__filter .custom-checkbox__content:checked {
        outline: transparent; }
    .accordion__filter .custom-checkbox__field:checked + .custom-checkbox__content::before {
      border-color: var(--color-golden);
      outline: transparent; }
    .accordion__filter .custom-checkbox__field:focus + .custom-checkbox__content::before {
      outline: transparent; }
  .accordion__filter.filter-colors {
    max-height: 100%;
    text-transform: none; }
    .accordion__filter.filter-colors .accordion__filter-checkboxes {
      max-height: 100%; }
    .accordion__filter.filter-colors .custom-checkbox {
      text-transform: none; }

.accordion__filter-checkboxes {
  max-height: 234px;
  overflow-y: scroll;
  scrollbar-color: var(--color-golden); }
  .accordion__filter-checkboxes::-webkit-scrollbar {
    width: 7px; }
  .accordion__filter-checkboxes::-webkit-scrollbar-thumb {
    border-radius: 7px;
    height: 42px;
    background-color: var(--color-golden); }

.accordion__filter-checkbox {
  font-size: 16px;
  line-height: 1.2; }
  .accordion__filter-checkbox:not(:last-child) {
    margin-bottom: 24px; }

.accordion-active.accordion__name {
  padding-bottom: 8px; }

.accordion-active + .accordion__filter {
  opacity: 1;
  padding-top: 24px;
  overflow: visible; }

.accordion-active.accordion__name::before {
  transform: translateY(-50%) rotate(-180deg); }

.filter-price {
  letter-spacing: 0.035em;
  font: normal 400 14px/1.1 "CervoNeue", sans-serif; }
  .filter-price__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 53px; }
  .filter-price__text {
    font-size: 12px;
    line-height: 14px;
    margin-right: 8px;
    color: var(--color-silver); }
  .filter-price__num {
    font-size: 15px;
    line-height: 18px;
    max-width: 80px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-silver);
    text-align: center; }
    .filter-price__num::-webkit-outer-spin-button, .filter-price__num::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .filter-price__num[type=number] {
      -moz-appearance: textfield; }
  .filter-price__box:last-child .filter-price__num {
    max-width: 100px; }
  .filter-price__slider {
    position: relative; }
  .filter-price__slider-num {
    position: absolute;
    bottom: 16px;
    font: normal 400 14px/1.1 "CervoNeue", sans-serif;
    font-size: 12px;
    color: var(--color-silver); }
    .filter-price__slider-num:first-of-type {
      left: 0; }
    .filter-price__slider-num:last-of-type {
      right: 0; }
  .filter-price .noUi-target {
    box-shadow: none;
    background-color: var(--color-silver);
    border: none;
    border-radius: 0;
    height: 2px; }
  .filter-price .noUi-connect {
    background-color: var(--color-golden); }
  .filter-price .noUi-touch-area,
  .filter-price .noUi-handle {
    border: none;
    border-radius: 50%; }
  .filter-price .noUi-handle {
    height: 14px;
    width: 14px;
    background-color: var(--color-golden);
    box-shadow: none; }
    .filter-price .noUi-handle::after, .filter-price .noUi-handle::before {
      display: none; }
  .filter-price .noUi-handle-lower {
    transform: translateX(100%);
    right: 0; }
  .filter-price .noUi-handle-upper {
    transform: translateX(100%);
    left: 0; }

.filter-designers .search {
  padding-left: 30px;
  margin-bottom: 24px; }
  .filter-designers .search__icon {
    left: -2px;
    top: 8px;
    width: 20px;
    height: 20px; }
  .filter-designers .search__field {
    max-width: 100%; }

.filter-size__list {
  display: grid;
  grid-template-columns: repeat(5, 43px);
  grid-gap: 16px; }

.filter-size__item {
  text-align: center;
  font: normal 400 14px/1.1 "CervoNeue", sans-serif;
  cursor: pointer; }
  .filter-size__item--disabled {
    border-color: var(--color-disabled);
    color: var(--color-disabled); }
  .filter-size__item .custom-checkbox {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px; }
    .filter-size__item .custom-checkbox__field:checked + .custom-checkbox__content {
      color: var(--color-golden); }
  .filter-size__item .custom-checkbox__content {
    padding-left: 0; }
    .filter-size__item .custom-checkbox__content::before {
      width: 100%;
      height: 100%; }
    .filter-size__item .custom-checkbox__content::after {
      background-image: none; }

.custom-checkbox {
  position: relative;
  text-transform: uppercase;
  transition: color 0.3s ease-in; }
  .custom-checkbox__field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute; }
  .custom-checkbox__content {
    padding-left: 25px;
    cursor: pointer; }
    .custom-checkbox__content::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #000;
      width: 15px;
      height: 15px;
      box-sizing: border-box; }
    .custom-checkbox__content::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.73675 0.41916L4.00009 2.68249L6.26342 0.41916C6.49092 0.19166 6.85842 0.19166 7.08592 0.41916C7.31342 0.64666 7.31342 1.01416 7.08592 1.24166L4.40842 3.91916C4.18092 4.14666 3.81342 4.14666 3.58592 3.91916L0.908418 1.24166C0.680918 1.01416 0.680918 0.64666 0.908418 0.41916C1.13592 0.197493 1.50925 0.19166 1.73675 0.41916Z' fill='black'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: 8px 5px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
  .custom-checkbox__content {
    padding-left: 32px; }
    .custom-checkbox__content::before {
      border-color: var(--color-silver);
      transition: all 0.4s ease-in; }
    .custom-checkbox__content:checked {
      outline: transparent; }
  .custom-checkbox__field:checked + .custom-checkbox__content::before {
    border-color: var(--color-golden);
    outline: transparent; }
  .custom-checkbox__field:focus + .custom-checkbox__content::before {
    outline: transparent; }
  .custom-checkbox:hover {
    color: var(--color-golden); }
    .custom-checkbox:hover .custom-checkbox__content::before {
      border-color: var(--color-golden); }

.catalog {
  margin: 20px 0 5px; }
  .catalog .catalog-slider {
    margin-bottom: 40px; }
  .catalog .swiper-nav .swiper-btns {
    margin-left: auto;
    right: 0;
    bottom: 7px;
    z-index: 12; }
  .catalog .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 0;
    width: 32px;
    height: 2px;
    background-color: #000; }
  .catalog .swiper-pagination-fraction,
  .catalog .swiper-pagination-custom,
  .catalog .swiper-container-horizontal > .swiper-pagination-bullets {
    transform: translateY(-50%); }
    .catalog .swiper-pagination-fraction .swiper-pagination-bullet:not(:last-child),
    .catalog .swiper-pagination-custom .swiper-pagination-bullet:not(:last-child),
    .catalog .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
      margin-right: 18px; }

.catalog-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 122px;
  column-gap: 122px;
  row-gap: 56px;
  margin-bottom: 100px; }

.sidebar {
  width: 100%;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10; }
  .sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    z-index: -1; }
  .sidebar__content {
    max-width: 402px;
    width: 100%;
    z-index: 11;
    height: 100%;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    padding: 60px; }
  .sidebar.sidebar-active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; }
    .sidebar.sidebar-active .sidebar__content {
      transform: translateX(0); }
  .sidebar__close {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px; }
  .sidebar__icon {
    width: 24px;
    height: 24px;
    padding: 5px;
    margin-left: 15px; }

.product {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px; }
  .product__gallery {
    max-width: 815px;
    width: 100%;
    display: flex;
    position: relative;
    margin-right: 30px; }
  .product .gallery-thumbs {
    width: 150px;
    height: 864px;
    margin-right: 20px; }
    .product .gallery-thumbs .swiper-slide {
      cursor: pointer;
      width: 150px;
      height: 194px;
      position: relative; }
      .product .gallery-thumbs .swiper-slide::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4); }
    .product .gallery-thumbs .swiper-slide-active {
      border: 1px solid var(--color-golden); }
      .product .gallery-thumbs .swiper-slide-active::before {
        background: none; }
  .product .gallery-preview {
    max-width: 635px;
    width: 100%;
    position: relative; }
    .product .gallery-preview__pagination {
      position: absolute;
      bottom: -110px;
      height: 40px;
      z-index: 10;
      width: 100%;
      margin: 0 auto;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 140px;
      width: 100%;
      right: 0; }
      .product .gallery-preview__pagination .swiper-pagination {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 75px;
        width: 100%; }
      .product .gallery-preview__pagination .swiper-pagination-bullet {
        width: 5px;
        height: 5px; }
        .product .gallery-preview__pagination .swiper-pagination-bullet:not(:last-child) {
          margin-right: 8px; }
      .product .gallery-preview__pagination .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        background-color: var(--color-black); }
      .product .gallery-preview__pagination .swiper-button-prev,
      .product .gallery-preview__pagination .swiper-button-next {
        top: 95%;
        height: 8px;
        width: 14px; }
      .product .gallery-preview__pagination .swiper-button-prev:after,
      .product .gallery-preview__pagination .swiper-button-next:after {
        content: '';
        background-color: #000;
        -webkit-mask-image: url("../img/sprite.svg#arrow-footer");
        mask-image: url("../img/sprite.svg#arrow-footer");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 8px;
        width: 14px; }
      .product .gallery-preview__pagination .swiper-button-next:after {
        transform: rotate(-90deg); }
      .product .gallery-preview__pagination .swiper-button-prev:after {
        transform: rotate(90deg); }
  .product .gallery-preview .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; }

.single-info {
  max-width: 343px;
  width: 100%; }
  .single-info h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    text-transform: capitalize;
    font-feature-settings: 'cpsp'on;
    margin-bottom: 8px; }
  .single-info p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 24px; }
    .single-info p + span {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 43px;
      display: inline-block; }
  .single-info .filter-size {
    margin-bottom: 24px; }
  .single-info__thumb {
    display: flex;
    margin-bottom: 34px; }
    .single-info__thumb .custom-checkbox__field:checked + .custom-checkbox__content::after {
      opacity: 0; }
    .single-info__thumb .custom-checkbox__content {
      padding: 0; }
    .single-info__thumb .custom-checkbox__content::before {
      width: 50px;
      height: 50px; }
  .single-info__color span:not(.custom-checkbox__content) {
    margin-bottom: 24px;
    display: inline-block; }
  .single-info__size {
    margin-bottom: 24px;
    display: inline-block; }
  .single-info__thumb-img {
    width: 50px;
    height: 50px; }
    .single-info__thumb-img:first-child {
      margin-right: 15px; }
    .single-info__thumb-img--active {
      border: 1px solid var(--color-golden); }
  .single-info__btns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px; }
  .single-info .accordion__name {
    padding-bottom: 8px; }
    .single-info .accordion__name::after {
      background-color: var(--color-golden);
      height: 2px; }
  .single-info .accordion__content {
    overflow: hidden;
    opacity: 0;
    will-change: max-height;
    max-height: 0;
    transition: all 0.3s ease-in;
    box-sizing: content-box; }
  .single-info .accordion__item {
    margin-bottom: 40px; }

.accordion-active + .accordion__content {
  max-height: 100%;
  opacity: 1;
  padding-top: 24px;
  overflow: visible; }

.products {
  margin-bottom: 100px; }
  .products h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    text-transform: capitalize;
    font-feature-settings: 'cpsp'on;
    margin-bottom: 40px; }
  .products__list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .products__item:not(:last-child) {
    margin-right: 20px; }

.product-article {
  max-width: 332px;
  width: 100%; }
  .product-article img {
    margin-bottom: 22px; }
  .product-article h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px; }
  .product-article p {
    margin-bottom: 17px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2; }
  .product-article span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.03em; }

.pagination {
  font: normal 400 20px/1.2 "CervoNeue", sans-serif;
  margin-bottom: 100px; }
  .pagination__list {
    display: flex;
    align-items: center;
    justify-content: center; }
  .pagination__item {
    position: relative;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer; }
    .pagination__item:first-child, .pagination__item:last-child {
      background-color: var(--color-black);
      height: 50px;
      width: 50px; }
      .pagination__item:first-child:hover, .pagination__item:last-child:hover {
        background-color: var(--color-golden); }
    .pagination__item:first-child {
      transform: scale(-1, 1);
      margin-right: 10px; }
    .pagination__item:last-child {
      margin-left: 10px; }
    .pagination__item:hover {
      color: var(--color-golden); }
    .pagination__item.active {
      color: var(--color-silver);
      cursor: auto; }
  .pagination__link {
    padding: 13px 20px;
    display: block;
    letter-spacing: 0.17em; }
  .pagination__link-icon {
    height: 24px;
    width: 18px;
    fill: #fff; }

.subscribe {
  margin-bottom: 30px;
  position: relative; }
  .subscribe label {
    display: block;
    margin-bottom: 20px;
    font-size: 16px; }
  .subscribe__field {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-golden);
    padding-bottom: 7px;
    width: 100%;
    color: var(--color-white);
    outline: transparent; }
    .subscribe__field::-moz-placeholder {
      font-size: 12px;
      line-height: 1.2; }
    .subscribe__field:-ms-input-placeholder {
      font-size: 12px;
      line-height: 1.2; }
    .subscribe__field::placeholder {
      font-size: 12px;
      line-height: 1.2; }
  .subscribe__btn {
    position: absolute;
    bottom: 12px;
    right: 0;
    background-color: transparent;
    border: none;
    background-image: url("../img/sprite.svg#arrow-white");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 15px; }
  .subscribe__subscribe-icon {
    width: 25px;
    height: 10px;
    fill: #fff;
    stroke: #fff;
    cursor: pointer; }
  .subscribe__icon {
    height: 14px;
    width: 16px;
    fill: #fff;
    transition: fill 0.3s ease-in-out; }

.footer {
  background-color: var(--color-black);
  padding: 48px 0 30px; }
  .footer .logo {
    display: inline-block;
    margin-bottom: 20px; }
  .footer__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 6px; }
  .footer__inner {
    color: #fff; }
    .footer__inner:first-child {
      max-width: 350px;
      width: 100%; }
    .footer__inner:nth-child(2) {
      max-width: 210px;
      width: 100%;
      transform: translateX(-10px); }
    .footer__inner:nth-child(3) {
      margin-right: 40px; }
    .footer__inner:last-child {
      margin-right: 30px; }
    .footer__inner p {
      margin-bottom: 12px;
      font-size: 16px; }
  .footer__link {
    font-size: 13px;
    line-height: 1.7;
    color: var(--color-black);
    overflow: hidden;
    background: linear-gradient(to right, var(--color-golden), var(--color-golden) 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s ease;
    text-decoration: none; }
    .footer__link:hover {
      background-position: 0 100%; }
      .footer__link:hover svg {
        fill: var(--color-golden); }
  .footer__icon {
    height: 14px;
    width: 16px;
    fill: #fff;
    transition: fill 0.3s ease-in-out; }
  .footer__socials {
    display: flex;
    justify-content: flex-start; }
    .footer__socials .footer__link:first-child {
      margin-right: 22px; }
  .footer__terms {
    display: flex;
    justify-content: flex-start;
    color: #fff; }
    .footer__terms .footer__link:first-child {
      margin-right: 43px; }
  .footer__choose {
    font-size: 16px;
    display: flex;
    justify-content: space-between; }
    .footer__choose--language {
      margin-bottom: 30px; }
  .footer__choose-name {
    margin-right: 40px; }
  .footer__choose-item {
    padding: 14px 10px 14px 5px;
    max-width: 75px;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer; }
    .footer__choose-item:hover {
      color: var(--color-golden); }
      .footer__choose-item:hover::after {
        background-color: var(--color-golden); }
  .footer .choices {
    position: relative; }
    .footer .choices:hover .choices__inner {
      border-color: var(--color-golden);
      color: var(--color-golden); }
    .footer .choices:hover[data-type*=select-one]:after {
      background-color: var(--color-golden); }
    .footer .choices.is-open .choices__inner {
      border-color: var(--color-golden);
      color: var(--color-golden); }
    .footer .choices.is-open[data-type*=select-one]:after {
      background-color: var(--color-golden); }
    .footer .choices__inner {
      border: none;
      background-color: transparent;
      border-top: 2px solid var(--color-golden);
      border-bottom: 2px solid var(--color-golden);
      cursor: pointer;
      text-align: center;
      border-radius: 0;
      transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out; }
    .footer .choices:first-child {
      margin-right: 24px;
      height: 50px;
      max-width: 77px;
      width: 100%;
      text-align: center; }
    .footer .choices:last-child {
      max-width: 153px;
      width: 100%; }
  .footer .choices[data-type*=select-one]:after {
    border: none;
    content: '';
    position: absolute;
    right: 5px;
    top: 25px;
    background-color: #fff;
    -webkit-mask-image: url("../img/sprite.svg#arrow-footer");
    mask-image: url("../img/sprite.svg#arrow-footer");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 8px;
    width: 14px;
    transition: background-color 0.5s ease-in-out, transform 0.4s ease-in; }
  .footer .choices__list--dropdown {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border: none;
    color: var(--color-black);
    border-radius: 0; }
    .footer .choices__list--dropdown .choices__item--selectable {
      padding: 12px 0;
      text-align: center; }
  .footer .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: var(--color-golden);
    color: #fff; }
  .footer .choices[data-type*=select-one].is-open:after {
    margin-top: -2px;
    transform: rotate(180deg); }

/*# sourceMappingURL=main.css.map */
