body {
  font: $font-body;
  background-color: var(--color-white);
  color: var(--color-white);
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 1284px;
}

.wrapper {

}


.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.logo {
  max-width: 163px;
}


.js-focus-visible :focus:not(.focus-visible) {
  outline: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-shop {
  color: #fff;
  font: $font-btn;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--color-black);
  padding: 13px 70px;
  display: inline-block;

  &:hover {
    background-color: var(--color-btn-hover);
  }

  &:active {
    background-color: var(--color-btn-hover);
  }

  button:disabled,
  button[disabled] {
    background-color: var(--color-disabled);
  }
}

.disabled {
  background-color: var(--color-disabled);

}

.main {
  &__baner {
    margin-bottom: 150px;

    img {
      object-fit: contain;
      width: 100%;
      height: 600px;

    }
  }
}